label{cursor:default;}
.breadcrumb li{display:inline;}
.breadcrumb li+li:before{content:"» ";}
body{left:160px;margin:0;overflow-x:hidden;position:relative;background-color:white;width:-webkit-calc(100% - 160px);width:-moz-calc(100% - 160px);width:calc(100% - 160px);}
.sidebar{background-color:#19191F;left:0px;height:100%;position:fixed;width:160px;text-align:left;z-index:-9999;vertical-align:middle;overflow:auto;white-space:nowrap;}
.sidebar-enlarged{width:240px;}
.sidebar li .sidebar-item-link{padding:15px;color:#8C8C9C;}
.sidebar li .sidebar-item-link .glyph-sidebar{font-size:17px;}
.sidebar li .sidebar-item-link .fa-sidebar{width:17px;font-size:17px;}
.sidebar li .sidebar-item-link .fa-sidebar-home{width:17px;font-size:21px;}
body div.sidebar ul li a{height:51px;}
.sidebar li .sidebar-item-link .sidebar-text{font-size:15px;padding-left:20px;}
.sidebar-toggle{background-color:white;color:#BFBFBF;padding:7px;padding-left:8px;width:14px;position:fixed;}
.sidebar-arrow, .pointer{cursor:pointer;}
.sidebar-arrow:hover{color:#808080;}
ul.nav a:hover{color:#C3C3C4;background-color:#101014;cursor:pointer;}
ul.nav a.active{color:#C3C3C4;background-color:#101014;border-left:4px solid;border-color:#6441A5;border-color:#337AB7;;padding-left:11px;}
.main{background-color:white;height:-webkit-calc(50% - 20px);height:-moz-calc(50% - 20px);height:calc(50% - 20px);padding-left:30px;padding-right:30px;padding-top:34px;}
.page-header{margin-top:0px;}
#war-my-team_filter input, #war-enemy-team_filter input, #war-events_filter input, #memberTable_filter input{margin-left:0px;}
#war-log-container{width:100%;max-width:900px}
#warStats .war-clan-vs-clan thead tr th, #warStats .war-stats thead tr th, #warStats{text-align:center;}
#warEvents td:nth-child(1),
#warEvents td:nth-child(2){text-align:right;}
.war-team td:nth-child(1){text-align:right;}
.war-team td:nth-child(3),
.war-team td:nth-child(6),
.war-team td:nth-child(8){text-align:center;}
.table-responsive{border:none;}
.tooltip.in{opacity:0.8;}
.members-table tbody tr td,
.members-table thead tr th{vertical-align:middle;}
@font-face{font-family:'supercell';src:url('../fonts/Bad-Blockhead.ttf');}
.experience-level{width:40px;height:40px;background-image:url('https://clashofclans.com/img/svgs/player-star.svg');background-repeat:no-repeat;background-size:40px 40px;display:inline-block;text-align:center;line-height:40px;font-family:'supercell';color:white;text-shadow:1px 3px 0px rgba(0, 0, 0, 1);font-size:15px;float:left;margin-right:5px;}
.trophies{width:150px;height:40px;line-height:40px;background-color:#E2C45A;text-align:center;font-family:'supercell';font-size:18px;color:white;border-radius:5px;}
.trophy-image{padding-left:5px;}
.clan-rank{width:40px;height:40px;line-height:40px;background-color:#444444;text-align:center;font-family:'supercell';font-size:18px;color:white;border-radius:5px;float:right;}
.badge-img{width:40px;height:40px;float:left;}
.member-name{font-size:18px;}
.member-role{font-size:12px;color:#A4A2A2;}
.troops-donated-received{width:110px;height:28px;line-height:28px;background-color:#E7E7E7;background-position:center top;text-align:center;font-size:13px;font-weight:bold;color:black;border-radius:5px;float:left;}
.outer-clan-details-container{height:100%;}
.outer-clan-details-container{border-top-right-radius:10px;border-top-left-radius:10px;}
.clan-details-container{text-align:center;color:black;width:50%;margin:0 auto;min-width:775px;}
.clan-badge{padding-top:50px;opacity:1;}
.clan-name{font-family:'supercell';font-size:44px;margin-bottom:20px;}
.clan-description{font-size:24px;opacity:0.8;}
.clan-tag{font-size:17px;font-weight:bold;margin-top:25px;margin-bottom:30px;opacity:0.6;display:block;}
.clan-details-wrapper{width:60%;margin:0 auto;height:214px;min-width:220px;}
.clan-total-points{border-radius:10px;font-size:18px;width:-webkit-calc(50% - 10px);width:-moz-calc(50% - 10px);width:calc(50% - 10px);height:107px;float:left;line-height:107px;background:#afc0cf;font-family:'supercell';min-width:110px;}
.clan-war-wins{border-radius:10px;font-size:18px;width:-webkit-calc(50% - 10px);width:-moz-calc(50% - 10px);width:calc(50% - 10px);height:107px;float:right;line-height:107px;background:#afc0cf;font-family:'supercell';min-width:110px;}
.clan-members-frequency{border-radius:10px;font-size:15px;width:-webkit-calc(50% - 10px);width:-moz-calc(50% - 10px);width:calc(50% - 10px);height:107px;float:left;line-height:50px;}
.clan-type-required{border-radius:10px;font-size:15px;width:-webkit-calc(50% - 10px);width:-moz-calc(50% - 10px);width:calc(50% - 10px);height:107px;float:right;line-height:50px;}
.clan-details-trophy-image, .clan-details-wars-image{padding-right:5px;}
#main ul li a:hover{background-color:#337ab7;color:white;}
#main ul li{margin-bottom:15px;}
.war-event-img{margin-right:5px;width:40px;height:40px;float:left;}
.war-star-img{width:18px;height:18px;}
.war-event-defended, .war-event-defeat, .war-name-display, .war-time-remain, .war-event-id{text-shadow:-1px 0 black, 0 3px black, 1px 0 black, 0 -1px black, 0 2px black, 0 1px black;}
.war-event-defended, .war-event-defeat, .war-dmg, .war-name-display, .war-time-remain, .war-event-id, .clan-supercell{font-family:'supercell';}
.clan-supercell{font-size:18px;}
.war-dmg{font-size:14px;color:black;}
.war-name-display, .war-time-remain, .war-event-id{font-size:17px;color:white;}
.war-event-defended{color:#FFFB73;}
.war-event-defeat{color:#FF6131;}
.war-event-background-neutral{background-color:#CECFC6!important;}
.war-event-background-win{background-color:#B5CFA5!important;}
.war-event-background-lose{background-color:#D6AEA5!important;}
.war-event-background-neutral:hover{background-color:#B8B9AC!important;}
.war-event-background-win:hover{background-color:#9FC18B!important;}
.war-event-background-lose:hover{background-color:#C79184!important;}
.war-log-background-neutral{background-color:#f2f2f2!important;}
.war-log-background-win{background-color:#f2f8eb!important;}
.war-log-background-lose{background-color:#f8ebeb!important;}
.war-log-background-progress{background-color:#fff7e5!important;}
.war-log-background-progress:hover{background-color:#ffefcc!important;}
.war-log-background-neutral:hover{background-color:#d9d9d9!important;}
.war-log-background-win:hover{background-color:#daebc6!important;}
.war-log-background-lose:hover{background-color:#ebc6c6!important;}
.war-event-dmg{float:left;width:45px;}
.war-team-dmg{float:left;width:38px;}
.war-star-img-container{float:left;width:54px;}
.delete-table{width:225px;}
#war-events tbody tr td:first-child{border-top-left-radius:15px;border-bottom-left-radius:15px;}
#war-events tbody tr td:last-child{border-top-right-radius:15px;border-bottom-right-radius:15px;}
#war-events{border-collapse:separate;}
#war-events{border-top:1px solid #ddd;border-radius:10px;}
#war-events thead tr th:first-child{border-left:1px solid #ddd;border-radius:10px;}
#war-events thead tr th:last-child{border-right:1px solid #ddd;border-radius:10px;}
#war-events thead tr th{border-bottom:0px;}
#war-timeline-container{float:left;height:400px;width:100%;}
.war-weights thead tr th,
.war-weights tbody tr td{text-align:center;}
.war-weights td:first-child{text-align:right;}
.war-weights td:nth-child(2){text-align:left;}
.war-weights{width:100% !important;}
.war-weights-subtitle{display:block;font-weight:normal;}
.delete-table{float:left;margin-right:15px;}
#members-stats-container{max-width:800px;width:100%;}
#externalSearchBox{border-radius:0;font-size:25px;text-align:center;background-color:#F5F5F5;}
#members{text-align:center;font-size:25px;background-color:#F5F5F5;}
#members td:hover{background-color:#e8e8e8}
#player-overview-container{max-width:100%;width:100%;display:inline-block;margin-bottom:-15px;}
.player-overview{max-width:240px;width:100%;float:left;margin-right:5px;}
#event-log-container{max-width:800px;width:100%;display:inline-block;}
.statistics-charts-container{max-width:700px;width:100%;height:225px;}
.ptd-logo{width:130px;margin-left:15px;padding-top:25px;padding-bottom:25px;}
.sidebar-line{margin:0 auto;margin-bottom:12px;width:120px;border-bottom:1px solid #32323E;}
.clan-level{position:absolute;top:133px;left:2px;width:100%;min-width:835px;color:white;font-weight:bold;font-size:130%;text-shadow:1px 2px black;}
li.sidebar-log-in{position:fixed;bottom:0;width:160px;overflow:hidden;}
.enter-effect{-webkit-animation-name:fadeIn;-moz-animation-name:fadeIn;-ms-animation-name:fadeIn;-o-animation-name:fadeIn;animation-name:fadeIn;-webkit-animation-duration:500ms;-moz-animation-duration:500ms;-ms-animation-duration:500ms;-o-animation-duration:500ms;animation-duration:500ms;}
.gly-spin{-webkit-animation:spin 2s infinite linear;-moz-animation:spin 2s infinite linear;-o-animation:spin 2s infinite linear;animation:spin 2s infinite linear;}
@-moz-keyframes spin{0%{-moz-transform:rotate(0deg);}
100%{-moz-transform:rotate(359deg);}
}
@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg);}
100%{-webkit-transform:rotate(359deg);}
}
@-o-keyframes spin{0%{-o-transform:rotate(0deg);}
100%{-o-transform:rotate(359deg);}
}
@keyframes spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
100%{-webkit-transform:rotate(359deg);transform:rotate(359deg);}
}
.gly-rotate-90{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg);}
.gly-rotate-180{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);}
.gly-rotate-270{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);-webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);-ms-transform:rotate(270deg);-o-transform:rotate(270deg);transform:rotate(270deg);}
.gly-flip-horizontal{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);-webkit-transform:scale(-1, 1);-moz-transform:scale(-1, 1);-ms-transform:scale(-1, 1);-o-transform:scale(-1, 1);transform:scale(-1, 1);}
.gly-flip-vertical{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);-webkit-transform:scale(1, -1);-moz-transform:scale(1, -1);-ms-transform:scale(1, -1);-o-transform:scale(1, -1);transform:scale(1, -1);}