label {
  cursor: default;
}


/* Initial body */
body {
  left: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
}

/* Initial menu */
.menu {
  background: #202024 url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png') repeat left top;
  left: -235px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 285px;
  text-align: right;
}

.main {
	padding-left: 80px;
}

.menu-toggle {
	padding-left:50px;
}

.rotateOneEight{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}